<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-ftp-sample.ZPM">
    <Module>
      <Name>iris-ftp-sample</Name>
      <Description>A simple FTP IRIS interoperability application - reads data from FTP and load into IRIS and Get From IRIS and Post on FTP csv file.</Description>
      <Version>1.0.5</Version>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>csvgen</Name>
          <Version>1.4.1</Version>
        </ModuleReference>
      </Dependencies>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.irisftpsample.PKG"/>
      <SystemRequirements Version=">=2020.1" Interoperability="enabled" />
    </Module>
  </Document>
</Export>
